<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>

<meta charset="utf-8">
<meta name="generator" content="quarto-1.0.38">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">


<title>Problem</title>
<style>
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}
div.column{display: inline-block; vertical-align: top; width: 50%;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
</style>


<script src="problem-shiny-quarto_files/libs/clipboard/clipboard.min.js"></script>
<script src="problem-shiny-quarto_files/libs/quarto-html/quarto.js"></script>
<script src="problem-shiny-quarto_files/libs/quarto-html/popper.min.js"></script>
<script src="problem-shiny-quarto_files/libs/quarto-html/tippy.umd.min.js"></script>
<script src="problem-shiny-quarto_files/libs/quarto-html/anchor.min.js"></script>
<link href="problem-shiny-quarto_files/libs/quarto-html/tippy.css" rel="stylesheet">
<link href="problem-shiny-quarto_files/libs/quarto-html/quarto-syntax-highlighting.css" rel="stylesheet" id="quarto-text-highlighting-styles">
<script src="problem-shiny-quarto_files/libs/bootstrap/bootstrap.min.js"></script>
<link href="problem-shiny-quarto_files/libs/bootstrap/bootstrap-icons.css" rel="stylesheet">
<link href="problem-shiny-quarto_files/libs/bootstrap/bootstrap.min.css" rel="stylesheet" id="quarto-bootstrap" data-mode="light">

  <script>window.backupDefine = window.define; window.define = undefined;</script><script src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js"></script>
  <script>document.addEventListener("DOMContentLoaded", function () {
 var mathElements = document.getElementsByClassName("math");
 var macros = [];
 for (var i = 0; i < mathElements.length; i++) {
  var texText = mathElements[i].firstChild;
  if (mathElements[i].tagName == "SPAN") {
   katex.render(texText.data, mathElements[i], {
    displayMode: mathElements[i].classList.contains('display'),
    throwOnError: false,
    macros: macros,
    fleqn: false
   });
}}});
  </script>
  <script>window.define = window.backupDefine; window.backupDefine = undefined;</script><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css">

</head>

<body class="fullcontent">

<div id="quarto-content" class="page-columns page-rows-contents page-layout-article">

<main class="content" id="quarto-document-content">

<header id="title-block-header" class="quarto-title-block default">
<div class="quarto-title">
<h1 class="title">Interactive Problem</h1>
</div>



<div class="quarto-title-meta">

    
    
  </div>
  

</header>

<div class="cell">
<div class="cell-output-display">
<script src="https://unpkg.com/vue@3"></script>
</div>
<div class="cell-output-display">
<style> .recalculating { opacity: 1.0 !important; } </style>
</div>
<div class="cell-output-display">
<style>  [v-cloak] { display: none !important; } </style>
</div>
</div>
<div class="cell" data-context="server">

</div>
<div id="problem" data-v-cloak="">
<div class="cell">
<div class="cell-output-display">
<div class="form-group shiny-input-container" style="width:100%;">
<label class="control-label" id="x-label" for="x"><span class="katex-display"><span class="katex"><span class="katex-mathml"><math xmlns="http://www.w3.org/1998/Math/MathML" display="block"><semantics><mrow><mstyle mathsize="1.2em"><mi>x</mi></mstyle></mrow><annotation encoding="application/x-tex">\large{x}</annotation></semantics></math></span><span class="katex-html" aria-hidden="true"><span class="base"><span class="strut" style="height:0.5167em;"></span><span class="mord sizing reset-size6 size7"><span class="mord mathnormal">x</span></span></span></span></span></span></label>
<input class="js-range-slider" id="x" data-skin="shiny" data-min="1" data-max="400" data-from="40" data-step="1" data-grid="true" data-grid-num="9.975" data-grid-snap="false" data-prettify-separator="," data-prettify-enabled="true" data-keyboard="true" data-data-type="number" data-immediate="true">
</div>
</div>
</div>
<div class="cell" data-context="server">

</div>
<div class="cell" data-context="server">

</div>
<div class="cell" data-context="server">

</div>
<p>Here is some text: 2(x)=2({{x}})={{w}}</p>
<p>Weee is some display. This is really cool…I hope it works <span class="math inline">x = {{x}}</span> for quarto as well. It does work for quarto…</p>
<p><span class="math display">
                            \huge{x = {{x}}}
</span></p>
<p>Since <span class="math inline">w = 2(x)</span>, we have:</p>
<p><span class="math display">
                            \huge{w = {{w}}}
</span></p>
<div class="cell">
<div class="cell-output-display">
<div id="plot" class="shiny-plot-output" style="width:100%;height:400px;"></div>
</div>
</div>
<div class="cell" data-context="server">

</div>
</div>
<div class="cell">
<script type="text/javascript">
  function render_katex_math(){
        var mathElements = document.getElementsByClassName("math");
        var macros = [];
        for (var i = 0; i < mathElements.length; i++) {
            var numChildren=mathElements[i].childElementCount
            var texText = null;
            //only process it if its got no children...else its static latex.
            if(numChildren === 0) { 
              texText= mathElements[i].innerText;
              if (mathElements[i].tagName == "SPAN") {
                katex.render(texText, mathElements[i], {
                      displayMode: mathElements[i].classList.contains("display"),
                      throwOnError: false,
                      fleqn: false
                    });
               }
            }
         }
  }

function send_to_view(name, val) {
      if(vm !== null) {
        console.log("setting " + name + ": " + val) 
        vm.$data[[name]]=val
      }
  }

Shiny.addCustomMessageHandler('w',function(val){
    send_to_view('w', val)
});
Shiny.addCustomMessageHandler('x',function(val){
    send_to_view('x', val)
});

//.main-container for rmarkdown::run,  

$("#quarto-content").on("shiny:inputchanged", function(event) {
     console.log("shiny:inputchanged ") 
     send_to_view(event.name, event.value)
 });

//Need this global vue instance variable
var vm = null;

console.log("variable Vue is defined");
  var app= null;
  app=Vue.createApp({
  delimiters: ["{{","}}"],
    data() {
      return {
          x: null, w: null
      }
    },
    watch: {
        $data: {
                handler() {
                   console.log("in handler")
                   render_katex_math()
                },
                flush: "post",
                deep: true
            }
    },
    methods: {
        round: function(num, places) {
                 plusexpr="e+" + places
                 minusexpr="e-" + places
            return +(Math.round(num + plusexpr)  + minusexpr);
        }
    }
})

console.log("mounting view app")
vm=app.mount("#problem")
</script>
</div>
<p>
<script type="application/shiny-prerendered" data-context="server">
observeEvent(w_d(), { session$sendCustomMessage("w", w_d()) })
observeEvent(x_d(), { session$sendCustomMessage("x", x_d()) }, once=TRUE)
</script>
 
<script type="application/shiny-prerendered" data-context="server">
x<-reactive(input$x)
</script>
 
<script type="application/shiny-prerendered" data-context="server">
w<-reactive(2*x())
</script>
 
<script type="application/shiny-prerendered" data-context="server">
x_d<-debounce(x, 300)
w_d<-debounce(w, 300)
</script>
 
<script type="application/shiny-prerendered" data-context="server">
output$plot<-renderPlot({
    #cat("in renderPlot\n")
    X<-rnorm(w_d())
    Y<-rnorm(w_d())
    plot(x=X,y=Y, pch=19)
}, width=500, height=200)
</script>
 
<script type="application/shiny-prerendered" data-context="server-extras">
ojs_define <- function(..., .session = shiny::getDefaultReactiveDomain()) {
  quos <- rlang::enquos(...)
  vars <- rlang::list2(...)
  nm <- names(vars)
  if (is.null(nm)) {
    nm <- rep_len("", length(vars))
  }
  mapply(function(q, nm, val) {
    # Infer name, if possible
    if (nm == "") {
      tryCatch({
        nm <- rlang::as_name(q)
      }, error = function(e) {
        code <- paste(collapse = "\n", deparse(rlang::f_rhs(q)))
        stop("ojs_define() could not create a name for the argument: ", code)
      })
    }
    .session$output[[nm]] <- val
    outputOptions(.session$output, nm, suspendWhenHidden = FALSE)
    .session$sendCustomMessage("ojs-export", list(name = nm))
    NULL
  }, quos, nm, vars, SIMPLIFY = FALSE, USE.NAMES = FALSE)
  invisible()
}
</script>
</p>
<!--html_preserve-->
<script type="application/shiny-prerendered" data-context="dependencies">
{"type":"list","attributes":{},"value":[{"type":"list","attributes":{"names":{"type":"character","attributes":{},"value":["name","version","src","meta","script","stylesheet","head","attachment","package","all_files","pkgVersion"]},"class":{"type":"character","attributes":{},"value":["html_dependency"]}},"value":[{"type":"character","attributes":{},"value":["ionrangeslider-javascript"]},{"type":"character","attributes":{},"value":["2.3.1"]},{"type":"list","attributes":{"names":{"type":"character","attributes":{},"value":["file"]}},"value":[{"type":"character","attributes":{},"value":["www/shared/ionrangeslider"]}]},{"type":"NULL"},{"type":"character","attributes":{},"value":["js/ion.rangeSlider.min.js"]},{"type":"NULL"},{"type":"NULL"},{"type":"NULL"},{"type":"character","attributes":{},"value":["shiny"]},{"type":"logical","attributes":{},"value":[true]},{"type":"character","attributes":{},"value":["1.7.2"]}]},{"type":"list","attributes":{"names":{"type":"character","attributes":{},"value":["name","version","src","meta","script","stylesheet","head","attachment","package","all_files","pkgVersion"]},"class":{"type":"character","attributes":{},"value":["html_dependency"]}},"value":[{"type":"character","attributes":{},"value":["strftime"]},{"type":"character","attributes":{},"value":["0.9.2"]},{"type":"list","attributes":{"names":{"type":"character","attributes":{},"value":["file"]}},"value":[{"type":"character","attributes":{},"value":["www/shared/strftime"]}]},{"type":"NULL"},{"type":"character","attributes":{},"value":["strftime-min.js"]},{"type":"NULL"},{"type":"NULL"},{"type":"NULL"},{"type":"character","attributes":{},"value":["shiny"]},{"type":"logical","attributes":{},"value":[true]},{"type":"character","attributes":{},"value":["1.7.2"]}]},{"type":"list","attributes":{"names":{"type":"character","attributes":{},"value":["name","version","src","meta","script","stylesheet","head","attachment","package","all_files","pkgVersion"]},"class":{"type":"character","attributes":{},"value":["html_dependency"]}},"value":[{"type":"character","attributes":{},"value":["ionrangeslider-css"]},{"type":"character","attributes":{},"value":["2.3.1"]},{"type":"list","attributes":{"names":{"type":"character","attributes":{},"value":["file"]}},"value":[{"type":"character","attributes":{},"value":["www/shared/ionrangeslider"]}]},{"type":"NULL"},{"type":"NULL"},{"type":"character","attributes":{},"value":["css/ion.rangeSlider.css"]},{"type":"NULL"},{"type":"NULL"},{"type":"character","attributes":{},"value":["shiny"]},{"type":"logical","attributes":{},"value":[true]},{"type":"character","attributes":{},"value":["1.7.2"]}]}]}
</script>
<!--/html_preserve-->
<!--html_preserve-->

<script type="application/shiny-prerendered" data-context="execution_dependencies">
{"type":"list","attributes":{"names":{"type":"character","attributes":{},"value":["packages"]}},"value":[{"type":"list","attributes":{"names":{"type":"character","attributes":{},"value":["packages","version"]},"class":{"type":"character","attributes":{},"value":["data.frame"]},"row.names":{"type":"integer","attributes":{},"value":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39]}},"value":[{"type":"character","attributes":{},"value":["base","bslib","cli","compiler","curl","datasets","digest","ellipsis","evaluate","fastmap","graphics","grDevices","htmltools","httpuv","jquerylib","jsonlite","katex","knitr","later","lifecycle","magrittr","methods","mime","promises","R6","Rcpp","rlang","rmarkdown","sass","shiny","stats","stringi","stringr","tools","utils","V8","xfun","xtable","yaml"]},{"type":"character","attributes":{},"value":["4.1.2","0.3.1","3.3.0","4.1.2","4.3.2","4.1.2","0.6.29","0.3.2","0.15","1.1.0","4.1.2","4.1.2","0.5.3","1.6.5","0.1.4","1.8.0","1.4.0","1.40","1.3.0","1.0.1","2.0.3","4.1.2","0.12","1.2.0.1","2.5.1","1.0.8.3","1.0.4","2.15","0.4.0","1.7.2","4.1.2","1.7.8","1.4.0","4.1.2","4.1.2","4.1.0","0.31","1.8-4","2.3.5"]}]}]}
</script>
<!--/html_preserve-->

</main>
<!-- /main column -->
<script id="quarto-html-after-body" type="application/javascript">
window.document.addEventListener("DOMContentLoaded", function (event) {
  const toggleBodyColorMode = (bsSheetEl) => {
    const mode = bsSheetEl.getAttribute("data-mode");
    const bodyEl = window.document.querySelector("body");
    if (mode === "dark") {
      bodyEl.classList.add("quarto-dark");
      bodyEl.classList.remove("quarto-light");
    } else {
      bodyEl.classList.add("quarto-light");
      bodyEl.classList.remove("quarto-dark");
    }
  }
  const toggleBodyColorPrimary = () => {
    const bsSheetEl = window.document.querySelector("link#quarto-bootstrap");
    if (bsSheetEl) {
      toggleBodyColorMode(bsSheetEl);
    }
  }
  toggleBodyColorPrimary();  
  const icon = "";
  const anchorJS = new window.AnchorJS();
  anchorJS.options = {
    placement: 'right',
    icon: icon
  };
  anchorJS.add('.anchored');
  const clipboard = new window.ClipboardJS('.code-copy-button', {
    target: function(trigger) {
      return trigger.previousElementSibling;
    }
  });
  clipboard.on('success', function(e) {
    // button target
    const button = e.trigger;
    // don't keep focus
    button.blur();
    // flash "checked"
    button.classList.add('code-copy-button-checked');
    var currentTitle = button.getAttribute("title");
    button.setAttribute("title", "Copied!");
    setTimeout(function() {
      button.setAttribute("title", currentTitle);
      button.classList.remove('code-copy-button-checked');
    }, 1000);
    // clear code selection
    e.clearSelection();
  });
  function tippyHover(el, contentFn) {
    const config = {
      allowHTML: true,
      content: contentFn,
      maxWidth: 500,
      delay: 100,
      arrow: false,
      appendTo: function(el) {
          return el.parentElement;
      },
      interactive: true,
      interactiveBorder: 10,
      theme: 'quarto',
      placement: 'bottom-start'
    };
    window.tippy(el, config); 
  }
  const noterefs = window.document.querySelectorAll('a[role="doc-noteref"]');
  for (var i=0; i<noterefs.length; i++) {
    const ref = noterefs[i];
    tippyHover(ref, function() {
      let href = ref.getAttribute('href');
      try { href = new URL(href).hash; } catch {}
      const id = href.replace(/^#\/?/, "");
      const note = window.document.getElementById(id);
      return note.innerHTML;
    });
  }
  var bibliorefs = window.document.querySelectorAll('a[role="doc-biblioref"]');
  for (var i=0; i<bibliorefs.length; i++) {
    const ref = bibliorefs[i];
    const cites = ref.parentNode.getAttribute('data-cites').split(' ');
    tippyHover(ref, function() {
      var popup = window.document.createElement('div');
      cites.forEach(function(cite) {
        var citeDiv = window.document.createElement('div');
        citeDiv.classList.add('hanging-indent');
        citeDiv.classList.add('csl-entry');
        var biblioDiv = window.document.getElementById('ref-' + cite);
        if (biblioDiv) {
          citeDiv.innerHTML = biblioDiv.innerHTML;
        }
        popup.appendChild(citeDiv);
      });
      return popup.innerHTML;
    });
  }
});
</script>
</div> <!-- /content -->



</body></html>